<wo:USEditLook>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="card-title">Configuration</span>
				</div>
				<table class="table table-striped table-sm">
					<tr>
						<th>Category</th>
						<th>Entity</th>
						<th>Name</th>
						<th>Plural</th>
						<th>View page</th>
						<th>Edit page</th>
					</tr>
					<wo:repetition list="$all" item="$current">
						<tr>
							<td><wo:str value="$current.categoryName" /></td>
							<td><wo:str value="$current.name" /></td>
							<td><wo:str value="$current.icelandicName" /></td>
							<td><wo:str value="$current.icelandicNamePlural" /></td>
							<td></td>
							<td></td>
						</tr>
					 </wo:repetition>
				</table>
			</div>
		</div>
	</div>
</wo:USEditLook>