<wo:USEditLook>
	<div class="box">
		<h3>Configuration</h3>
		<table class="table">
			<tr>
				<th>Category</th>
				<th>Entity</th>
				<th>Name</th>
				<th>Plural</th>
				<th>View page</th>
				<th>Edit page</th>
			</tr>
			<wo:repetition list="$all" item="$current">
				<tr>
					<td><wo:str value="$current.categoryName" /></td>
					<td><wo:str value="$current.name" /></td>
					<td><wo:str value="$current.icelandicName" /></td>
					<td><wo:str value="$current.icelandicNamePlural" /></td>
					<td></td>
					<td></td>
				</tr>
			 </wo:repetition>
		</table>
	</div>
</wo:USEditLook>