<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Innskráning</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    </head>
    <body>
		<wo:form>
			<wo:textfield value="$username" id="login-email" name="login-email" class="form-control input-lg" placeholder="Username/e-mail adderss" />
			<wo:password value="$password" id="login-password" name="login-password" class="form-control input-lg" placeholder="Password" />
			<wo:submit action="$login" />
		</wo:form>
    </body>
</html>