<wo:switch WOComponentName="$editLookName">
	<script>
		jQuery(document).ready(function(){
			jQuery("#searchString").focus();
		});
	</script>
	<p><wo:link action="$cancel" class="btn">Hætta við</wo:link></p>
	<p>Samtenging: <strong><wo:str value="$sourceEntityName" /> -&gt; <wo:str value="$destinationEntityName" /></strong></p>
	<h4><wo:str value="$destinationEntityNamePlural" /></h4>
	<div class="row">
		<div class="col-md-4">
			<wo:form class="form-search">
				<wo:textfield value="$searchString" id="searchString" class="searchField input-medium search-query" placeholder="Leita…" />
				<wo:AjaxObserveField observeFieldID="searchString" updateContainerID="list" observeFieldFrequency="1" action="$resetDG" />
			</wo:form>
		</div>
	</div>
	<wo:AjaxUpdateContainer id="list">
		<wo:if condition="$dg.hasMultipleBatches">
			<div class="row">
				<div class="col-md-12">
					<wo:IMBatchNavigation dg="$dg" />
				</div>
			</div>
		</wo:if>
		<div class="row">
			<div class="col-md-12">		
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>#</th>
							<wo:if condition="$viewDefinition.attributesToShow.size">
								<wo:repetition list="$viewDefinition.attributesToShow" item="$currentAttribute">
									<th><wo:str value="$currentAttribute.icelandicName" /></th>
								</wo:repetition>
							</wo:if>
							<wo:if condition="$viewDefinition.attributesToShow.size" negate="$true">
								<th></th>
							</wo:if>
						</tr>
					</thead>
					<tbody>
						<wo:repetition list="$dg.displayedObjects" item="$currentObject">
							<tr>
								<td><wo:link action="$selectObject">Velja</wo:link></td>
								<wo:if condition="$viewDefinition.attributesToShow.size">
									<wo:repetition list="$viewDefinition.attributesToShow" item="$currentAttribute">
										<td><wo:IMValue object="$currentValue" /></td>
									</wo:repetition>
								</wo:if>
								<wo:if condition="$viewDefinition.attributesToShow.size" negate="$true">
									<td><wo:IMValue object="$currentObject" /></td>
								</wo:if>
							</tr>
						</wo:repetition>
					</tbody>
				</table>
			</div>
		</div>
	</wo:AjaxUpdateContainer>
</wo:switch>