<wo:USEditLook>
	<script>
		// Focus on the search field
		document.addEventListener("DOMContentLoaded", async () => {
			document.getElementById('searchString').focus();
		})
	</script>
	<style>
		th {
			text-transform: none !important; // tabler makes table headers uppercase, we don't like that
		}
	</style>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title"><wo:str value="$entityDefinition.icelandicNamePlural" /></h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-3">
							<wo:form class="form-search">
								<wo:textfield value="$searchString" id="searchString" class="form-control" placeholder="Leita…" />
								<wo:AjaxObserveField observeFieldID="searchString" updateContainerID="list" observeFieldFrequency="1" action="$search" />
							</wo:form>
						</div>
						<div class="col-9" align="right">
							<wo:form>
								<wo:if condition="$selectedObjects.size"><wo:AjaxModalContainer label="Eyða völdum færslum" closeLabel="Hætta við" class="btn btn-sm btn-danger" style="margin-bottom: 10px" ><div style="padding: 10px; text-align: center"><p>Ertu viss um að þú viljir eyða <wo:str value="$selectedObjects.size" /> völdum hlutum?</p><p align="center"><wo:link action="$deleteSelectedObjects" class="btn btn-danger"><i class="glyphicon glyphicon-trash icon-white"></i> Já, ég vil eyða þessum færslum</wo:link></p></div></wo:AjaxModalContainer></wo:if>
								<wo:link class="btn btn-sm btn-success" style="margin-bottom: 10px" action="$createObject">Stofna hlut</wo:link><br />
								<strong><wo:str value="$numberOfObjects" numberformat="0" /></strong> hlutir fundust<wo:if condition="$hasMultipleBatches">. Síða <wo:popUpButton list="$batches" selection="$currentBatchIndexForDisplay" id="currentBatchIndex" /> af <wo:str value="$numberOfBatches" /> með <wo:textfield value="$batchSize" numberformat="0" size="3" id="batchSize" /> hlutum hver
								<wo:AjaxObserveField observeFieldID="currentBatchIndex" updateContainerID="list" />
								<wo:AjaxObserveField observeFieldID="batchSize" updateContainerID="list" />
								</wo:if>
							</wo:form>
						</div>
					</div>
				</div>
				<wo:AjaxUpdateContainer id="list" class="overflow-x-scroll">
					<wo:form>
						<table class="table table-striped table-sm table-bordered">
							<thead>
								<tr>
									<th width="10"></th>
									<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
										<th nowrap><wo:USSort orderings="$orderings" keyPath="$currentKeyPath"><wo:str value="$currentKeyPathDisplayName" /></wo:USSort></th>
									</wo:repetition>
									<th width="60"></th>
								</tr>
							</thead>
							<tbody>
								<wo:repetition list="$objects" item="$currentObject">
									<wo:container elementName="tr" class="$currentTRClass">
										<td width="10"><wo:EditLink object="$currentObject">Opna</wo:EditLink></td>
										<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
											<td><wo:IMValue object="$currentValue" maxLength="50" abbreviationPostfix=" [...]"/></td>
										</wo:repetition>
										<td>
											<wo:link action="$toggleSelected">
												<wo:if condition="$currentIsSelected" negate="$true">Velja</wo:if>
												<wo:if condition="$currentIsSelected">Afvelja</wo:if>
											</wo:link>
										</td>
									</wo:container>
								</wo:repetition>
							</tbody>
						</table>
					</wo:form>
				</wo:AjaxUpdateContainer>
			</div>
		</div>
	</div>
</wo:USEditLook>