<wo:AjaxUpdateContainer id="$uniqueID">
	<div class="btn-group"><wo:if condition="$^disableObjectSelection" negate="$true"><wo:link action="$selectObject" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-list"></i> Tengja færslu</wo:link> </wo:if><wo:link action="$createObject" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Stofna nýja tengda færslu</wo:link></div>
	<wo:if condition="$destinationObject">
		<table class="table table-condensed">
			<tr>
				<td width="100px">
					<div class="btn-group">
						<button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-cog"></i></button>
						<div class="dropdown-menu">
							<wo:AjaxUpdateLink action="$removeObject" updateContainerID="$uniqueID" class="dropdown-item"><i class="fa fa-remove"></i> Aftengja</wo:AjaxUpdateLink>
							<div class="dropdown-divider"></div>
							<wo:EditLink object="$destinationObject" class="dropdown-item"><i class="fa fa-pencil"></i> Opna í stjórnkerfi</wo:EditLink>
							<wo:ViewLink object="$destinationObject" class="dropdown-item"><i class="fa fa-eye"></i> Opna á vefnum</wo:ViewLink>
						</div>
					</div>
				</td>
				<td><wo:EditLink object="$destinationObject"><wo:IMString value="$displayString" valueWhenEmpty="Ekkert valið"/></wo:EditLink></td>
			</tr>
		</table>
	</wo:if>
</wo:AjaxUpdateContainer>