<wo:AjaxUpdateContainer id="$uniqueID">
	<div class="btn-group"><wo:if condition="$^disableObjectSelection" negate="$true"><wo:link action="$selectObject" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-list"></i> Tengja færslu</wo:link> </wo:if><wo:link action="$createObject" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Stofna nýja tengda færslu</wo:link></div>
	<wo:if condition="$destinationObject">
		<table class="table table-condensed">
			<tr>
				<td width="100px">
					<div class="btn-group">
						<a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><wo:AjaxUpdateLink action="$removeObject" updateContainerID="$uniqueID"><i class="glyphicon glyphicon-remove"></i> Aftengja</wo:AjaxUpdateLink></li>
							<li class="divider"></li>
							<li><wo:EditLink object="$destinationObject"><i class="glyphicon glyphicon-pencil"></i> Opna í stjórnkerfi</wo:EditLink></li>
							<li><wo:ViewLink object="$destinationObject"><i class="glyphicon glyphicon-eye-open"></i> Opna á vefnum</wo:ViewLink></li>
						</ul>
					</div>
				</td>
				<td><wo:EditLink object="$destinationObject"><wo:IMString value="$displayString" valueWhenEmpty="Ekkert valið"/></wo:EditLink></td>
			</tr>
		</table>
	</wo:if>
</wo:AjaxUpdateContainer>