<wo:USEditLook>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						Logging settings <wo:link action="$defaultSettings" class="btn">Reset</wo:link>
					</div>
				</div>
				<div class="box-body-no-padding">
					<table class="table table-sm">
						<tr>
							<th>Logger</th>
							<th>Level</th>
							<th>Appenders</th>
						</tr>
						<wo:repetition list="$loggers" item="$currentLogger">
							<tr>
								<td><wo:str value="$currentLogger.name" /></td>
								<td>
									<div class="btn-group">
										<wo:repetition list="$logLevels" item="$currentLevel">
											<wo:link action="$selectLevel" class="$currentClass"><wo:str value="$currentLevel.toString" /></wo:link>
										</wo:repetition>
									</div>
								</td>
								<td><wo:str value="$currentAppenders" /></td>
							</tr>
						</wo:repetition>
					</table>
				</div>
			</div>
		</div>
	</div>
</wo:USEditLook>