<!doctype html>
<html class="backend">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Helium</title>
		<meta name="author" content="Góður kóði">
		<meta name="description" content="Helium">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Plugins stylesheet : optional -->
        <link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/plugins/selectize/css/selectize.min.css">
        <link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/plugins/jqueryui/css/jquery-ui.min.css">
        <link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/plugins/jqueryui/css/jquery-ui-timepicker.min.css">

		<!-- Application stylesheet : mandatory -->
		<link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/library/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/stylesheets/layout.css">
		<link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/stylesheets/uielement.css">
		<link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/stylesheets/custom.css">
		
		<!-- Page stylesheet -->
		<link rel="stylesheet" href="http://okuprof.tf.loftfar.is/assets/plugins/datatables/css/jquery.datatables.min.css">
		
		<script src="http://okuprof.tf.loftfar.is/assets/library/modernizr/js/modernizr.min.js"></script>
		
            <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
           <!-- Library script : mandatory -->
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/library/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/library/jquery/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/library/core/js/core.min.js"></script>
        <!--/ Library script -->

            <!-- App and page level script -->
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//javascript/app.min.js"></script>
        <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/selectize/js/selectize.min.js"></script>
        <!--/ App and page level script -->

	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/flot/jquery.flot.min.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/flot/jquery.flot.categories.min.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/flot/jquery.flot.tooltip.min.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/flot/jquery.flot.resize.min.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets//plugins/flot/jquery.flot.spline.min.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/javascript/pages/dashboard.js"></script>
	    <script type="text/javascript" src="http://okuprof.tf.loftfar.is/assets/javascript/components/widget.js"></script>		
		<script type="text/javascript">
			$.noConflict();
		</script>
	</head>
	<body >
		<header id="header" class="navbar navbar-fixed-top">
			<div class="navbar-header loggedin">
				<a href="/" class="">
					<div class="logo-figure"></div>
				</a>
				<div class="logo-text">
					<ul>
						<li class="dropdown profile">
							<wo:link action="$front">
								<span class="meta">
									<span class=" hidden-xs hidden-sm">Ökupróf</span>
								</span>
							</wo:link>
						</li>
					</ul>
				</div>
			</div>
			<div class="navbar-toolbar clearfix">
				<ul class="nav navbar-nav navbar-left">
					<li class="hidden-xs hidden-sm">
						<a href="javascript:void(0);" class="sidebar-minimize" data-toggle="minimize" title="Minimize sidebar">
							<span class="meta">
								<span class="icon"></span>
							</span>
						</a>
					</li>
                        <!-- Offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <li class="navbar-main hidden-lg hidden-md hidden-sm">
                        <a href="javascript:void(0);" data-toggle="sidebar" data-direction="ltr" rel="tooltip" title="Menu sidebar">
                            <span class="meta">
                                <span class="icon"><i class="ico-paragraph-justify3"></i></span>
                            </span>
                        </a>
                    </li>
                        <!--/ Offcanvas left -->


                    <li>
                        <a href="javascript:void(0);">
                            <input class="searchbox" type="search" placeholder="Leita…">
                            <div class="search_icon"><span class="ico-search"></span></div>
                        </a>
                    </li>
                </ul>
                    <!--/ END Left nav -->


                    <!-- START Right nav -->

                <ul class="nav navbar-nav navbar-right">
                        <!-- Profile dropdown -->
                    <li class="dropdown profile">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="meta">
                                <span class="avatar"><wo:img src="http://okuprof.tf.loftfar.is/assets/image/avatar/avatar.png" class="img-circle" alt="" /></span>
                                <span class="text hidden-xs hidden-sm pl5"><wo:str value="$user.name" /></span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><wo:link action="$userSettings"><span class="icon"><i class="ico-cog4"></i></span> Stillingar</wo:link></li>
                            <!--  <li><a href="javascript:void(0);"><span class="icon"><i class="ico-question"></i></span> Hjálp</a></li> -->
                            <li class="divider"></li>
                            <li><wo:link action="$logout"><span class="icon"><i class="ico-exit"></i></span> Aftengjast</wo:link></li>
                        </ul>
                    </li>
                        <!-- Profile dropdown -->

                        <!-- Offcanvas right This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <li class="navbar-main">
                        <a href="javascript:void(0);" data-toggle="sidebar" data-direction="rtl" rel="tooltip" title="Feed / contact sidebar">
                            <span class="meta">
                                <span class="icon"><i class="ico-star4"></i></span>
                            </span>
                        </a>
                    </li>
                        <!--/ Offcanvas right -->
                </ul>
                    <!--/ END Right nav -->
            </div>
                <!--/ END Toolbar -->
        </header>        <!--/ END Template Header -->

        <!-- START Template Sidebar (Left) -->
        <aside class="sidebar sidebar-left sidebar-menu">
                <!-- START Sidebar Content -->
            <section class="content slimscroll">
                <!-- <h5 class="heading">B-ökuréttindi FIXME</h5>  -->
                    <!-- START Template Navigation/Menu -->
                <ul class="topmenu topmenu-responsive" data-toggle="menu">
                    <wo:USHeliumMenuComponent items="$menu.rootItems" rootClass="sidebar-nav" />
                </ul>
                    <!--/ END Template Navigation/Menu -->

                    <!-- START Sidebar summary -->
                    <!--/ END Sidebar summary -->
            </section>
                <!--/ END Sidebar Container -->
        </aside>        <!--/ END Template Sidebar (Left) -->

        <!-- START Template Main -->
        <section id="main" role="main">
                <!-- START Template Container -->
            <div class="container-fluid">
                

    <div class="container-fluid">
            <!-- Page Header -->
            
        <div class="page-header page-header-block">
         
            <div class="page-header-section">
                <h4 class="title semibold">Forsíða</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"><wo:content /></div>
            <wo:if condition="$hasNotifications">
	            <div class="col-md-3">
	                <div class="panel panel-minimal">
	                    <div class="panel-heading"><h5 class="panel-title"><i class="ico-health mr5"></i>Atburðir</h5></div>
	
	                        <!-- Media list feed -->
	                    <ul class="media-list media-list-feed nm">
	                    	<wo:repetition list="$notifications" item="$currentNotification">
		                        <li class="media">
		                            <div class="media-object pull-left">
		                                <i class="ico-pencil bgcolor-success"></i>
		                            </div>
		                            <div class="media-body">
		                                <p class="media-heading"><wo:str value="$currentNotification.notificationType.name" /></p>
		                                <p class="media-text"><wo:str value="$currentNotification.displayText" /></p>
		                                <p class="media-meta"><wo:str value="$currentNotification.relativeDateString" /></p>
		                            </div>
		                        </li>
	                        </wo:repetition>
	                        <li class="media">
	                            <div class="media-object pull-left">
	                                <i class="ico-loop4"></i>
	                            </div>
	                            <div class="media-body">
	                                <wo:link action="$moreNotifications" class="media-heading text-primary">Sjá fleiri atburði</wo:link>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
            </wo:if>
        </div>
    </div>


            </div>
                <!--/ END Template Container -->

                <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
                <!--/ END To Top Scroller -->

        </section>
            <!--/ END Template Main -->

            <!-- START Template Sidebar (right) -->
        <aside class="sidebar sidebar-right">
                <!-- START Offcanvas -->
            <div class="offcanvas-container" data-toggle="offcanvas" data-options='{"openerClass":"offcanvas-opener", "closerClass":"offcanvas-closer"}'>
                    <!-- START Wrapper -->
                <div class="offcanvas-wrapper">
                        <!-- Offcanvas Content -->
                    <div class="offcanvas-content">
                            <!-- Content -->
                        <div class="content slimscroll">
                                <!-- START contact -->
                            <div class="media-list media-list-contact">
                                <h5 class="heading pa15 pb0">Skipin mín</h5>
                                <a href="/ships/2164" class="media">
                                    <span class="media-body">
                                        <span class="media-heading">Herjólfur</span>
                                        <span class="media-meta ellipsis">Vestmannaeyjar</span>
                                    </span>
                                </a>

                                <a href="/ships/2164" class="media">
                                    <span class="media-body">
                                        <span class="media-heading">Aðalbjörg</span>
                                        <span class="media-meta ellipsis">Vestmannaeyjar</span>
                                    </span>
                                </a>


                                <a href="/ships/2164" class="media">
                                    <span class="media-body">
                                        <span class="media-heading">Hafbjörg</span>
                                        <span class="media-meta ellipsis">Vestmannaeyjar</span>
                                    </span>
                                </a>

                            </div>
                                <!--/ END contact -->
                        </div>
                            <!--/ Content -->
                    </div>



                </div>
                    <!--/ END Wrapper -->
            </div>
                <!--/ END Offcanvas -->
        </aside>
    </body>
</html>