<wo:switch WOComponentName="$lookName">
	<!-- 
	<div class="row">
		<div class="col-md-11">
			<wo:form directActionName="$searchActionName" class="form-inline" method="GET">
				<div class="control-group">
					<wo:AjaxAutoComplete id="searchString" name="searchString" value="$searchString" placeholder="Leita…" list="$autoCompletes" />
					<label class="checkbox">
						<wo:checkbox checked="$useInflection" name="allar-ordmyndir" class="popo" data-content="Leitar að öllum orðmyndum leitarorðsins skv. Beygingarlýsingu íslensks nútímamáls" /> Leita að öllum orðmyndum
					</label>
				</div>
				<wo:submit directActionName="$searchActionName" class="btn btn-primary" value="Leita" />
			</wo:form>
		</div>
	</div>
	 -->
	<wo:AjaxUpdateContainer id="searchContainer">
		<div class="row">
			<div class="col-md-11" style="margin-bottom: 10px">
				<wo:repetition list="$viewDefinitions" item="$currentViewDefinition">
					<wo:AjaxUpdateLink updateContainerID="searchContainer" action="$toggle" class="$viewDefinitionClass" data-title="Smu" data-content="Bla"><wo:str value="$currentViewDefinition.icelandicNamePlural" /></wo:AjaxUpdateLink>
				</wo:repetition>
			</div>
		</div>
		<wo:if condition="$hasSearched">
			<div class="row">
				<div class="col-md-11">
					<wo:conditional condition="$resultsFiltered.count">
						<p><strong><wo:str value="$resultsFiltered.count" /> <wo:if condition="$multipleResults">hlutir fundust</wo:if><wo:conditional condition="$multipleResults" negate="$true">hlutur fannst</wo:conditional></strong></p>
						<wo:form name="ForSomeReasonThisFormMustBeHereForAjaxSortOrder">
							<table class="table table-condensed">
								<thead>
									<th></th>
									<th><wo:AjaxSortOrder displayGroup="$dg" key="name" updateContainerID="searchContainer" /></th>
									<th></th>
									<th><wo:AjaxSortOrder displayGroup="$dg" key="text" updateContainerID="searchContainer" /></th>
								</thead>
								<tbody>
									<wo:repetition list="$resultsFiltered" item="$currentRecord" index="$index">
										<tr>
											<td width="20px"><wo:if condition="$currentDefinition.iconFileName.length"><wo:img src="$currentDefinition.iconFileName" /></wo:if></td>
											<td><wo:PointsToPersistentLink data-shortcut-key="$shortcut" class="$shortcutClass" object="$currentRecord"><wo:str value="$currentRecord.name" /></wo:PointsToPersistentLink></td>
											<td style="color: gray"><wo:str value="$currentDefinition.icelandicName" /></td>
											<td><wo:str value="$currentRecord.text" escapeHTML="$false" /></td>
										</tr>
									</wo:repetition>
								</tbody>
							</table>
						</wo:form>
					</wo:conditional>
					<wo:conditional condition="$results.count" negate="$true">
						<p><em>Engar niðurstöður fundust</em></p>
					</wo:conditional>
					<!-- 
						<p><em>Leitað var að: <wo:str value="$queryString" /></em></p>
					 -->
				</div>
			</div>
		</wo:if>
	</wo:AjaxUpdateContainer>
</wo:switch>