<wo:USEditLook>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Properties</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-condensed table-striped">
						<tr>
							<th>Key</th>
							<th>Value</th>
						</tr>
						<wo:repetition list="$propertyKeys" item="$currentPropertyKey">
						<tr>
							<td><wo:str value="$currentPropertyKey" /></td>
							<td style="word-wrap: break-word"><wo:str value="$currentPropertyValue" /></td>
						</tr>
						</wo:repetition>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Classpath</h3>
				</div>
				<div class="box-body">
					<wo:str value="$reportPath" escapeHTML="$false" />
				</div>
			</div>
		</div>
	</div>
</wo:USEditLook>