<wo:USEditLook selectedObject="$selectedObject">
	<wo:AjaxUpdateContainer id="main">
		<wo:form enctype="multipart/form-data">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"><wo:link action="$openListPage"><wo:str value="$viewDefinition.icelandicName" /></wo:link> / <wo:IMValue object="$selectedObject" /></h3>
						</div>
						<div class="card-body">
							<wo:link action="$returnToCallingComponent" class="btn">Til baka</wo:link>
							<div class="pull-right">
								<wo:USOperationMenu selectedObject="$selectedObject" />
								<wo:AjaxModalContainer label="Eyða" closeLabel="Hætta við" class="btn btn-outline-danger"><div style="padding: 10px; text-align: center"><p>Ertu viss um að þú viljir eyða færslunni &quot;<strong><wo:IMValue object="$selectedObject" /></strong>&quot;?</p><p align="center"><wo:link action="$deleteObject" class="btn btn-danger"><i class="glyphicon glyphicon-trash icon-white"></i> Já, ég vil eyða þessari færslu</wo:link></p></div></wo:AjaxModalContainer>
								<wo:submit action="$saveChangesAndReturn" class="btn btn-default" accesskey="d" value="Vista og loka" />
								<wo:AjaxSubmitButton action="$saveChanges" updateContainerID="main" class="btn btn-primary" accesskey="s" value="Vista" />
							</div>
						</div>
						<div class="card-body">
							<wo:switch WOComponentName="$displayComponentName" callingComponent="$callingComponent" selectedObject="$selectedObject" />
						</div>
					</div>
				</div>
			</div>
		</wo:form>
	</wo:AjaxUpdateContainer>
</wo:USEditLook>