<table>
	<tr>
		<td align="right"><b>New key:</b></td>
		<td><wo:popUpButton displayString="$currentObjectType" item="$currentObjectType" list="$objectTypes" selection="$selectedObjectType" /> <wo:textfield value="$newKey" /></td>
		<td><wo:submit action="$add" value="Add" /></td>
	</tr>
	<wo:repetition list="$allKeys" item="$currentKey">
		<tr>
			<td align="right"><wo:str value="$currentKey" />:</td>
			<td><wo:USPlistEditor object="$currentValue" /></td>
			<td><wo:submit action="$remove" value="x" /></td>
		</tr>
	</wo:repetition>
</table>