<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><wo:str value="$siteName" /> | Stjórnkerfi</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<wo:ERXJavaScript filename="jquery-3.3.1.min.js" framework="$frameworkBundleName" />
		<wo:ERXJavaScript filename="bootstrap-3.3.7/js/bootstrap.min.js" framework="$frameworkBundleName" />
		<wo:ERXJavaScript filename="adminlte-2.4.5/js/adminlte.min.js" framework="$frameworkBundleName" />
		<wo:ERXStyleSheet rel="stylesheet" filename="bootstrap-3.3.7/css/bootstrap.min.css" framework="$frameworkBundleName" />
		<wo:ERXStyleSheet rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />  <!-- FIXME: Include in framework -->
		<wo:ERXStyleSheet rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.6/collection/icon/icon.css" /> <!-- FIXME: Include in framework -->
		<wo:ERXStyleSheet rel="stylesheet" filename="adminlte-2.4.5/css/AdminLTE.min.css" framework="$frameworkBundleName" /> 
		<wo:ERXStyleSheet rel="stylesheet" filename="adminlte-2.4.5/css/skins/skin-blue-light.min.css" framework="$frameworkBundleName" />
		<wo:ERXStyleSheet rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
		<script type="text/javascript">
			$.noConflict();
		</script>
	</head>
	<body class="hold-transition skin-blue-light sidebar-mini">
		<div class="wrapper">
			<header class="main-header">
				<a href="index2.html" class="logo">
					<span class="logo-lg"><b><wo:str value="$siteName" /></b></span>
				</a>
				<nav class="navbar navbar-static-top" role="navigation">
					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
				</nav>
			</header>
			<aside class="main-sidebar">
				<section class="sidebar">
					<wo:USAdminLTEMenuComponent items="$menu.rootItems" rootClass="sidebar-menu" />
				</section>
			</aside>
			<div class="content-wrapper">
				<section class="content container-fluid">
					<wo:content />
				</section>
			</div>
		</div>
	</body>
</html>