<wo:if condition="$items.size">
	<wo:container elementName="ul" class="$rootClass">
		<wo:repetition list="$items" item="$currentMenuItem">
			<wo:container elementName="li">
				<wo:if condition="$currentMenuItem.children.size" negate="$true">
					<wo:link action="$action" class="$actionLinkClass"><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" /><wo:str value="$currentMenuItem.name" /></wo:link>
				</wo:if>
				<wo:if condition="$currentMenuItem.children.size">
					<wo:container elementName="li" class="$currentLIClass">
						<wo:link href="#" class="$sidebarLinkClass"><i class="fa fa-angle-left sidebar-nav-indicator"></i><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" /><wo:str value="$currentMenuItem.name" /></wo:link>
						<wo:USHeliumMenuComponent items="$currentMenuItem.children" previousLevel="$level" />
					</wo:container>
				</wo:if>
			</wo:container>
		</wo:repetition>
	</wo:container>
</wo:if>