<!-- ["meta-comment"]["site-info"]
{
	"host-name"        :  "<wo:str value="$context.request.remoteHostName // VALID" />",
	"application-name" :  "<wo:str value="$application.name" />",
	"uri-external"     :  "<wo:str value="$uri" />",
	"uri-internal"     :  "<wo:str value="$context.request.uri" />",
	"secure"           :  "<wo:str value="$context.request.isSecure" />",
	"user-id"          :  "<wo:str value="$softUser.uuid" />",
	"session-id"       :  "<wo:str value="$context.request.sessionID" />",
	"generated"        :  "<wo:str value="$now" dateformat="%Y-%m-%d %H:%M:%S" />",
	"startup-date"     :  "<wo:str value="$startupDate" dateformat="%Y-%m-%d %H:%M:%S" />",
	"build-date"       :  "<wo:str value="$buildDate" />",
	"client-address"   :  "<wo:str value="$context.request.remoteHostAddress // VALID" />",
	"client-platform"  :  "<wo:str value="$context.request.browser.platform // VALID" />",
	"client-browser"   :  "<wo:str value="$context.request.browser.browserName // VALID" />",
	"client-version"   :  "<wo:str value="$context.request.browser.version // VALID" />"
}
-->