<ul class="sidebar-menu" data-widget="tree">
	<wo:repetition item="$currentMenuItem" list="$items">
		<wo:container elementName="li" class="$currentLIClass"><wo:link action="$action"><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" /> <span><wo:str value="$currentMenuItem.name" /></span></wo:link></wo:container>
	</wo:repetition>

	<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
	<li class="treeview">
		<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
		<span class="pull-right-container">
		<i class="fa fa-angle-left pull-right"></i>
		</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="#">Link in level 2</a></li>
			<li><a href="#">Link in level 2</a></li>
		</ul>
	</li>
</ul>