<wo:container elementName="ul" class="$rootClass" data-widget="$dataWidget">
	<wo:repetition item="$currentMenuItem" list="$items">
		<wo:if condition="$currentMenuItem.children.size" negate="$true">
			<wo:container elementName="li" class="$currentLIClass">
				<wo:if condition="$currentMenuItem.url">
					<wo:link href="$currentMenuItem.url"><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" /> <span><wo:str value="$currentMenuItem.name" /></span></wo:link>
				</wo:if>
				<wo:if condition="$currentMenuItem.url" negate="$true">
					<wo:link action="$action"><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" />
						<span><wo:str value="$currentMenuItem.name" /><wo:if condition="$currentMenuItem.badgeString.length"> <small class="label pull-right bg-blue" style="margin-top:3px"><wo:str value="$currentMenuItem.badgeString" /></small></wo:if></span>
					</wo:link>
				</wo:if>
			</wo:container>
		</wo:if>
		<wo:if condition="$currentMenuItem.children.size">
			<wo:container elementName="li" class="$currentLIClass">
				<wo:link href="#"><wo:container elementName="i" class="$currentMenuItemClass" omitTags="$noItemClass" /> <span><wo:str value="$currentMenuItem.name" /></span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</wo:link>
					
				<wo:USAdminLTE2MenuComponent items="$currentMenuItem.children" rootClass="treeview-menu" previousLevel="$level" />
			</wo:container>
		</wo:if>
	</wo:repetition>
</wo:container>